apiVersion: v2
name: frinx-machine
description: Kubernetes deployment of FRINX-machine
icon: https://avatars.githubusercontent.com/u/23452093?s=200&v=4
type: application
version: 8.0.1
appVersion: 6.0.0
maintainers:
  - name: FRINX
dependencies:
  # Monitoring

  - name: grafana
    repository: "https://grafana.github.io/helm-charts"
    version: 7.3.1
    condition: grafana.enabled

  - name: frinx-grafana-configs
    repository: "https://FRINXio.github.io/helm-charts"
    version: 1.x.x
    condition: grafana.enabled

  - name: influxdb2
    repository: "https://helm.influxdata.com"
    version: 2.1.2
    condition: influxdb2.enabled

  - name: telegraf-ds
    repository: https://helm.influxdata.com
    version: 1.1.24
    condition: telegraf-ds.enabled

  - name: loki
    repository: https://grafana.github.io/helm-charts
    version: 2.16.0
    condition: loki.enabled

  - name: promtail
    repository: https://grafana.github.io/helm-charts
    version: 6.15.5
    condition: loki.enabled

  # Frinx Machine Core

  ## Databases
  - name: cloud-native-pg
    alias: workflow-manager-postgres
    version: 0.0.2
    repository: https://FRINXio.github.io/helm-charts
    condition: workflow-manager-postgres.enabled

  - name: cloud-native-pg
    alias: uniconfig-postgres
    version: 0.0.2
    condition: uniconfig-postgres.enabled
    repository: https://FRINXio.github.io/helm-charts

  - name: frinx-arango-config
    repository: file://../frinx-arango-config
    # repository: https://FRINXio.github.io/helm-charts
    version: 4.1.0
    condition: frinx-arango-config.enabled

  - condition: kafka.enabled
    name: kafka
    version: 25.2.0
    repository: https://charts.bitnami.com/bitnami

  ## Services 
  - name: krakend
    # repository: https://FRINXio.github.io/helm-charts
    repository: file://../krakend
    version: 3.2.0
    condition: krakend.enabled

  - name: frinx-frontend
    repository: file://../frinx-frontend
    # repository: https://FRINXio.github.io/helm-charts
    version: 4.1.0
    condition: frinx-frontend.enabled

  - name: resource-manager
    repository: https://FRINXio.github.io/helm-charts
    version: 2.0.0
    condition: resource-manager.enabled

  - name: workflow-manager
    repository: file://../workflow-manager
    # repository: https://FRINXio.github.io/helm-charts
    version: 3.0.0
    condition: workflow-manager.enabled

  - name: inventory
    repository: file://../inventory
    # repository: https://FRINXio.github.io/helm-charts
    version: 5.1.0
    condition: inventory.enabled

  - name: traefik
    alias: uc-zone-lb
    repository: https://traefik.github.io/charts
    version: 27.0.2
    condition: uc-zone-lb.enabled

  - name: uniconfig
    repository: file://../uniconfig
    # repository: https://FRINXio.github.io/helm-charts
    version: 7.1.0
    condition: uniconfig.enabled

  - name: topology-discovery
    version: 3.0.0
    repository: file://../topology-discovery
    # repository: https://FRINXio.github.io/helm-charts
    condition: topology-discovery.enabled

  - name: performance-monitor
    repository: file://../performance-monitor
    # repository: https://FRINXio.github.io/helm-charts
    version: 0.1.2
    condition: performance-monitor.enabled

  - name: swagger-ui
    repository: https://FRINXio.github.io/helm-charts
    version: 0.1.1
    condition: swagger-ui.enabled

  - condition: device-induction.enabled
    name: worker
    repository: file://../worker
    # repository: https://FRINXio.github.io/helm-charts
    version: 4.0.0
    alias: device-induction

  - name: oauth2-proxy
    repository: https://oauth2-proxy.github.io/manifests
    version: 7.7.4
    condition: oauth2-proxy.enabled

# TODO: remove
  - name: kafka-ui
    repository: https://provectus.github.io/kafka-ui-charts
    version: 0.7.5
