apiVersion: v2
name: frinx-machine
description: |
  FRINX Machine is a dockerized deployment of multiple elements. The FRINX Machine enables large scale automation of network devices, services and retrieval of operational state data from a network.
  User specific workflows are designed through the use of OpenConfig NETCONF & YANG models, vendor native models, and the CLI.
  The FRINX Machine uses dockerized containers that are designed and tested to work together to create a user specific solution.
  Further information is available on [docs.frinx.io](https://docs.frinx.io/frinx-machine/getting-started/).
icon: https://avatars.githubusercontent.com/u/23452093?s=200&v=4
type: application
version: 10.0.0
appVersion: 6.1.1
maintainers:
  - name: FRINX
dependencies:

  # Operators
  - name: frinx-machine-operators
    repository: https://FRINXio.github.io/helm-charts
    version: 0.3.0
    condition: frinx-machine-operators.enabled
    tags:
      - operators

  # Monitoring

  - name: frinx-machine-monitoring
    repository: file://../frinx-machine-monitoring
    # repository: https://FRINXio.github.io/helm-charts
    version: 0.1.1
    condition: frinx-machine-monitoring.enabled
    tags:
      - monitoring

  ## Databases
  - name: cloud-native-pg
    alias: workflow-manager-postgres
    repository: https://FRINXio.github.io/helm-charts
    version: 1.0.0
    condition: workflow-manager-postgres.enabled
    tags:
      - database

  - name: cloud-native-pg
    alias: uniconfig-postgres
    repository: https://FRINXio.github.io/helm-charts
    version: 1.0.0
    condition: uniconfig-postgres.enabled
    tags:
      - database

  - name: cloud-native-pg
    alias: timescale-db
    repository: https://FRINXio.github.io/helm-charts
    version: 1.0.0
    condition: timescale-db.enabled
    tags:
      - database

  - name: frinx-arango-config
    repository: https://FRINXio.github.io/helm-charts
    version: 4.2.0
    condition: frinx-arango-config.enabled
    tags:
      - database

  - name: kafka
    repository: https://charts.bitnami.com/bitnami
    version: 25.2.0
    condition: kafka.enabled
    tags:
      - database

  ## Services
  - name: krakend
    # repository: https://FRINXio.github.io/helm-charts
    repository: file://../krakend
    version: 5.0.1
    condition: krakend.enabled
    tags:
      - backend

  - name: frinx-frontend
    repository: https://FRINXio.github.io/helm-charts
    version: 4.1.0
    condition: frinx-frontend.enabled
    tags:
      - backend

  - name: resource-manager
    repository: https://FRINXio.github.io/helm-charts
    version: 2.3.1
    condition: resource-manager.enabled
    tags:
      - backend

  - name: workflow-manager
    repository: https://FRINXio.github.io/helm-charts
    version: 3.2.1
    condition: workflow-manager.enabled
    tags:
      - backend

  - name: inventory
    repository: https://FRINXio.github.io/helm-charts
    version: 6.0.2
    condition: inventory.enabled
    tags:
      - backend

  - name: traefik
    alias: uc-zone-lb
    repository: https://traefik.github.io/charts
    version: 27.0.2
    condition: uc-zone-lb.enabled
    tags:
      - backend

  - name: uniconfig
    # repository: https://FRINXio.github.io/helm-charts
    repository: file://../uniconfig
    version: 8.2.1
    condition: uniconfig.enabled
    tags:
      - backend

  - name: topology-discovery
    # repository: https://FRINXio.github.io/helm-charts
    repository: file://../topology-discovery
    version: 4.0.0
    condition: topology-discovery.enabled
    tags:
      - backend

  - name: performance-monitor
    # repository: https://FRINXio.github.io/helm-charts
    repository: file://../performance-monitor
    version: 2.0.0
    condition: performance-monitor.enabled
    tags:
      - backend

  - name: swagger-ui
    repository: https://FRINXio.github.io/helm-charts
    version: 0.2.0
    condition: swagger-ui.enabled
    tags:
      - backend

  - name: worker
    alias: device-induction
    repository: https://FRINXio.github.io/helm-charts
    version: 4.1.0
    condition: device-induction.enabled
    tags:
      - backend

  # Optional

  - name: oauth2-proxy
    repository: https://oauth2-proxy.github.io/manifests
    version: 7.7.17
    condition: oauth2-proxy.enabled
