apiVersion: v2
name: workflow-manager
description: A Helm chart for Kubernetes deploying conductor-server and schellar
icon: https://avatars.githubusercontent.com/u/23452093?s=200&v=4
type: application
version: 3.0.0
appVersion: "6.1.0"
maintainers:
  - name: FRINX
dependencies:
  - condition: postgresql.enabled
    name: postgresql
    repository: https://charts.bitnami.com/bitnami
    version: 11.x.x
annotations:
  artifacthub.io/images: |
    - name: conductor-server
      image: frinx/conductor-server:6.1.0
    - name: schellar
      image: frinx/schellar:6.1.0
  artifacthub.io/changes: |
    - kind: removed
      description: Remove workflow-proxy and separate conductor and schellar
      links:
        - name: GitHub PR
          url: https://github.com/FRINXio/helm-charts/pull/344
    - kind: changed
      description: Changed ingress configuration
      links:
        - name: GitHub PR
          url: https://github.com/FRINXio/helm-charts/pull/344
    - kind: changed
      description: Configuration of db connections via secrets
      links:
        - name: GitHub PR
          url: https://github.com/FRINXio/helm-charts/pull/344
