---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: {{ include "cloud-native-pg.fullname" . }}
  {{- with .Values.podAnnotations }}
  annotations:
    {{- . | toYaml | nindent 4 }}
  {{- end }}
  
  {{- with .Values.podLabels }}
  labels:
    {{- . | toYaml | nindent 4 }}
  {{- end }}
spec:
  instances: {{ .Values.instances }}
  imageName: {{ .Values.imageName }}
  imagePullPolicy: {{ .Values.imagePullPolicy }}
  {{- with .Values.imagePullSecrets}}
  imagePullSecrets:
    {{- . | toYaml | nindent 4 }}
  {{- end }}
  primaryUpdateStrategy: {{ .Values.primaryUpdateStrategy }}
  primaryUpdateMethod: {{ .Values.primaryUpdateMethod }}
  logLevel: {{ .Values.logLevel }}
  
  {{- with .Values.startDelay }}
  startDelay: {{ . }}
  {{- end }}

  {{- with .Values.stopDelay }}
  stopDelay: {{ . }}
  {{- end }}

  {{- with .Values.replicationSlots }}
  replicationSlots:
    {{- . | toYaml | nindent 4 }}
  {{- end }}

  {{- with .Values.storage }}
  storage:
    {{- . | toYaml | nindent 4  }}
  {{- end }}

  {{- with .Values.resources }}
  resources:
    {{- . | toYaml | nindent 4 }}
  {{- end }}

  {{- with .Values.postgresql }}
  postgresql:
    {{-  . | toYaml | nindent 4 }}
  {{- end }}

  {{- with .Values.monitoring }}
  monitoring:
    {{-  . | toYaml | nindent 4 }}
  {{- end }}

  bootstrap:
    initdb:
      database: {{ .Values.bootstrap.initdb.database }}
      owner: {{ .Values.bootstrap.initdb.owner }}
      secret:
        name: {{ include "cloud-native-pg.userSecretName" . }}
        
      {{- with .Values.bootstrap.initdb.postInitSQL }}
      postInitSQL:
        {{- . | toYaml | nindent 8 }}
      {{- end }}
      
      {{- with .Values.bootstrap.initdb.postInitTemplateSQL }}
      postInitTemplateSQL:
        {{- . | toYaml | nindent 8 }}
      {{- end }}
      
      {{- with .Values.bootstrap.initdb.postInitApplicationSQL }}
      postInitApplicationSQL:
        {{- . | toYaml| nindent 8 }}
      {{- end }}      
      
      {{- with .Values.bootstrap.initdb.postInitApplicationSQLRefs }}
      postInitApplicationSQLRefs:
      	{{- with .extraConfigMapRefs }}
        configMapRefs:
          {{- range . }}
          - name: {{ .name }}
            key: {{ .key }}
          {{- end }}
      	{{- end }}
        
				{{- if or .extraSecretRefs $.Values.secrets.postInitSqlSecret }}
        secretRefs:
        	{{- with .extraSecretRefs }}
        	{{- . | toYaml| nindent 10 }}
          {{- end }}
        	{{- if $.Values.secrets.postInitSqlSecret }}
          - name: {{ include "cloud-native-pg.postInitSqlSecretName" $ }}
            key: secret.sql
        	{{- end }}
				{{- end }}
      {{- end }}

  {{- with .Values.backup }}
  backup:
    {{- . | toYaml | nindent 4 }}
  {{- end }}

  {{- if .Values.secrets.superuserSecret }}
  superuserSecret:
    name: {{ include "cloud-native-pg.superUserSecretName" . }}
  {{- end }}

  {{- with .Values.env }}
  env:
    {{- . | toYaml | nindent 4 }}
  {{- end }}

  {{- with .Values.envFrom }}
  envFrom:
    {{- . | toYaml | nindent 4 }}
  {{- end }}
