apiVersion: v2
name: inventory
version: 5.1.0
appVersion: "6.0.1"
description: A Helm chart for Kubernetes deployment of the Device Inventory
type: application
home: https://github.com/FRINXio/helm-charts
dependencies:
  - condition: postgresql.enabled
    name: postgresql
    repository: https://charts.bitnami.com/bitnami
    version: 11.x.x
maintainers:
  - name: FRINX
icon: https://avatars.githubusercontent.com/u/23452093?s=200&v=4
annotations:
  artifacthub.io/changes: |
    - kind: fixed
      description: TOPOLOGY_ENABLED enabled by default
      links:
        - name: GitHub PR
          url: https://github.com/FRINXio/helm-charts/pull/362
