env:
{{ if eq .Environment.Name "frinx" }}
  POSTGRES_DB: schellar
  POSTGRES_HOST: {{ .Values.psqlFqn }}
  POSTGRES_USER: "postgres@frinx-demo-psql"
  POSTGRES_PASSWORD: {{ .Values.psqlPasswd }}
{{ end }}
