{
    "endpoint": "/api/proxy",
    "method": "POST",
    "output_encoding": "no-op",
    "input_headers": [ {{ include "allowed_headers.tmpl" }} ],
    
    "backend": [
        {
            "url_pattern": "/graphql",
            "sd": "static",
            "encoding": "no-op",
            "disable_host_sanitize": false,
            "extra_config": {
                {{ include "modifiers.tmpl" }},
                "qos/circuit-breaker": {
                    "interval": 60,
                    "timeout": 10,
                    "max_errors": 1,
                    "name": "schellar-graphql",
                    "log_status_change": true
                }
            },
            "host": [
                "frinx-frontend:5555"
            ]
        }
    ]
}