{{range $index, $element := .}}
{{if gt $index 0}},{{end}}
{
    "endpoint": "{{ .endpoint }}",
    "method": "{{ .method }}",
    "output_encoding": "no-op",
    "input_headers": [ {{ include "allowed_headers.tmpl" }} ],

    {{ if .input_query_strings }}
    "input_query_strings": [ 
        {{range $query_enabled, $query := .input_query_strings}} {{if gt $query_enabled 0}},{{end}} "{{$query}}" {{ end }} 
        ],
    {{end}}

    "extra_config": {
      "qos/ratelimit/router": {
          "max_rate": 30,
          "every": "5s",
          "client_max_rate": 5,
          "strategy": "ip",
          "capacity": 30,
          "client_capacity": 5
      }
    },

    "backend": [
    {
        "url_pattern": "{{ .url_pattern }}",
        "encoding": "no-op",
        "sd": "static",
        "disable_host_sanitize": false,
        "host": [
            "inventory:8000"
        ],
        "extra_config": {
            "qos/circuit-breaker": {
                "interval": 60,
                "timeout": 10,
                "max_errors": 1,
                "name": "inventory-graphql",
                "log_status_change": true
            },
            "qos/ratelimit/proxy": {
                "max_rate": 30,
                "every": "5s",
                "capacity": 30
            }
        }
    }
]
}
{{end}}