{{range $index_in_range, $not_used_element := $.range}}
{{if gt $index_in_range 0}},{{end}}

    {{range $host_index, $host := $.hosts}}
    {{if gt $host_index 0}},{{end}}

    {
        "endpoint": "/api/{{$host}}/operations{{range $index_for_uri, $not_used_element2 := $.range -}} {{- if le $index_for_uri $index_in_range -}} /{{"{"}}n_{{$index_for_uri}}{{"}" -}} {{end}}{{end}}",
        "method": "POST",
        "output_encoding": "no-op",
        "input_query_strings": ["*"],
        "input_headers": [ {{ include "allowed_headers.tmpl" }}, "Accept", "cookie" ],
        "extra_config": {

                {{ $rate_enabled := env "RATE_LIMIT_UNISTORE_ROUTER_ENABLED" }}
                {{- if eq $rate_enabled "true" }}
                "qos/ratelimit/router": {
                    "client_capacity": {{ env "RATE_LIMIT_UNISTORE_ROUTER_CLIENTCAPACITY" }},
                    "client_max_rate": {{ env "RATE_LIMIT_UNISTORE_ROUTER_MAXRATE" }},
                    "every": {{ env "RATE_LIMIT_UNISTORE_ROUTER_EVERY" | quote }},
                    "strategy": "ip"
                },
                {{- end }}

                "modifier/lua-endpoint": {
                    "sources": ["scripts/unistore_rbac.lua", "scripts/header_check.lua"],
                    "allow_open_libs": true,
                    "pre": "local r = ctx.load(); user_group_auth(r); check_header(r)",
                    "live": true
                }

        },
        "backend": [
            {
                "url_pattern": "/rests/operations{{range $index_for_uri, $not_used_element2 := $.range -}} {{- if le $index_for_uri $index_in_range -}} /{{"{"}}n_{{$index_for_uri}}{{"}" -}} {{end}}{{end}}",
                "extra_config": {
                    {{ include "uc_modifiers.tmpl" }}
                    {{ $rate_enabled := env "RATE_LIMIT_UNISTORE_PROXY_ENABLED" }}
                    {{- if eq $rate_enabled "true" }}
                    , 
                    "qos/ratelimit/proxy": {
                        "max_rate": {{ env "RATE_LIMIT_UNISTORE_PROXY_MAXRATE" }},
                        "every": {{ env "RATE_LIMIT_UNISTORE_PROXY_EVERY" | quote }},
                        "capacity": {{ env "RATE_LIMIT_UNISTORE_PROXY_CAPACITY" }}
                    }
                    {{- end }}
                },
                "encoding": "no-op",
                
                "host": [
                    "http://{{$host}}:8181"
                ]
            }
        ]
    }
    {{end}}
{{end}},


{{range $method_index, $method := .methods}}
{{if gt $method_index 0}},{{end}}

    {{range $index_in_range, $not_used_element := $.range}}
    {{if gt $index_in_range 0}},{{end}}

        {{range $host_range, $host := $.hosts}}
        {{if gt $host_range 0}},{{end}}

            {
                "endpoint": "/api/{{$host}}/data{{range $index_for_uri, $not_used_element2 := $.range -}} {{- if le $index_for_uri $index_in_range -}} /{{"{"}}n_{{$index_for_uri}}{{"}" -}} {{end}}{{end}}",
                "method": "{{$method}}",
                "output_encoding": "no-op",
                "input_query_strings": ["*"],
                "input_headers": [ {{ include "allowed_headers.tmpl" }}, "Accept", "cookie" ],
                "extra_config": {

                        {{ $rate_enabled := env "RATE_LIMIT_UNISTORE_ROUTER_ENABLED" }}
                        {{- if eq $rate_enabled "true" }}
                        "qos/ratelimit/router": {
                            "client_capacity": {{ env "RATE_LIMIT_UNISTORE_ROUTER_CLIENTCAPACITY" }},
                            "client_max_rate": {{ env "RATE_LIMIT_UNISTORE_ROUTER_MAXRATE" }},
                            "every": {{ env "RATE_LIMIT_UNISTORE_ROUTER_EVERY" | quote }},
                            "strategy": "ip"
                        },
                        {{- end }}

                        "modifier/lua-endpoint": {
                            "sources": ["scripts/uniconfig_query_escape.lua", "scripts/unistore_rbac.lua", "scripts/header_check.lua"],
                            "allow_open_libs": true,
                            "pre": "local r = ctx.load(); r:url(urlencode(r)); user_group_auth(r); check_header(r)",
                            "live": true
                        }
                },

                "backend": [
                    {
                        "url_pattern": "/rests/data{{range $index_for_uri, $not_used_element2 := $.range -}} {{- if le $index_for_uri $index_in_range -}} /{{"{"}}n_{{$index_for_uri}}{{"}" -}} {{end}}{{end}}",
                        "extra_config": {
                            {{ include "uc_modifiers.tmpl" }}
                            {{ $rate_enabled := env "RATE_LIMIT_UNISTORE_PROXY_ENABLED" }}
                            {{- if eq $rate_enabled "true" }}
                            , 
                            "qos/ratelimit/proxy": {
                                "max_rate": {{ env "RATE_LIMIT_UNISTORE_PROXY_MAXRATE" }},
                                "every": {{ env "RATE_LIMIT_UNISTORE_PROXY_EVERY" | quote }},
                                "capacity": {{ env "RATE_LIMIT_UNISTORE_PROXY_CAPACITY" }}
                            }
                            {{- end }}
                        },
                        "encoding": "no-op",
                        "host": [
                            "http://{{$host}}:8181"
                        ]
                    }
                ]
            }
        {{end}}
    {{end}}
{{end}}
